body {
	background-color: white;
	font-family: sans-serif;
	color: #808080;
	text-align: center;
}
/*h1{
	border: 1px solid white;
	border-radius: 10px;
	padding: 10px;
	background-color: white;
	color: grey;
	margin-left: 60px;
	margin-right: 60px;
	box-shadow: 3px 3px 5px grey;

} */

h1{
	color: #808080;
	margin-top: 70px;
	margin-left: 60px;
	margin-right: 60px;

	font-size: 65px;
	margin-bottom: 0px;

}

#school{

}


img{
	border-radius: 35%;
	width: 27%;
	float: left;
	margin-left: 80px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 50%;
  border: 2px solid #ddd;
  margin: auto;


}

th{
  text-align: left;
  padding: 16px;
}

td {
	text-align: center;
 	padding: 16px;
 	border-right: solid 1px black;
 	border-left: solid 1px black;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

#zebra {
	font-size: 20px;
	font-weight: bolder;
}

.edu_hobbies {
	text-align: center;
	margin: auto;
	width: 100%;
}

h4 {
	width: 100%;
	margin: auto;
	text-decoration:underline;
	text-align: center;
}	



.bullet_inside {
	list-style-position: inside;
}






